*{
  margin: 0;
}
body{
  background-color: black;
}
.master{
  background-color: black;
  display:flex;
  flex-wrap: wrap;
  position: fixed;
  justify-content: center;
  height:100%;
  width: 100%;
}
#tracker{
  position: relative;
  height:6%;
  width:100%;
  background-color: white;
  display:flex;
  place-items: center;
  justify-content: center;
}
.step{
  position: relative;
  border-radius: 50%;
  height: 80%;
  aspect-ratio: 1 /1;
  border: 3px solid black;
  background-color: white;
}
#displayContainer{

  display: grid;
  align-self: center;
  border-right: 10px solid black;
  border-bottom: 10px solid black;
  height: 92%;
  width: 49%;
  grid-template-columns: repeat(3, auto);
}
#inputContainer{
  
  display: grid;
  align-self: center;
  height: 92%;
  width: 49%;
  border-bottom: 10px solid black;
  grid-template-columns: repeat(3, auto);
}
.cell{
  height: 100%;
  width: 100%;
  border-top: 10px solid black;
  border-left: 10px solid black;
  background-color: black;
  
  z-index: -1;
}
.button{
  height: 100%;
  width: 100%;
  border-top: 10px solid black;
  border-right: 10px solid black;
  z-index: -1;
}
@keyframes pingBlue {
  15% {background-color: #44a7fe;}
  85% {background-color: #44a7fe;}
}
@keyframes pingGreen {
  15% {background-color: limegreen;}
  85% {background-color: limegreen;}
}
@keyframes pingRed {
  15% {background-color: #d12f00;}
  85% {background-color: #d12f00;}
}